<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Register | JVDA Hold'em</title>
  </head>

  <body class="bg-gray-200">
    <div class="h-screen flex items-center justify-center">
      <form
        class="bg-white shadow-md px-8 pt-6 pb-8 mb-4"
        action="/auth/register"
        method="POST"
      >
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="email"
            id="email"
            type="text"
            placeholder="john_smith@example.com"
            required
          />
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Username
          </label>
          <input
            class="shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="username"
            id="username"
            type="text"
            placeholder="john-smith"
            required
          />
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border w-full py-2 px-3 mb-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="password"
            id="password"
            type="password"
            placeholder="************"
            required
          />
        </div>

        <div class="flex items-center justify-between">
          <%- include("../partials/Button.ejs", {buttonText: "Register", type: 'submit'}) %> 
          <a
            class="font-bold text-sm text-blue-500 hover:text-blue-800"
            href="/auth/login"
          >
            Login
          </a>
        </div>

        <% if (typeof errorMessage !== 'undefined') { %>
        <div class="mt-4 text-red-500"><%= errorMessage %></div>
        <% } %>
      </form>
    </div>
  </body>
</html>
