<div class="flex w-fullg rounded-lg shadow-xl bg-white p-4 mx-8">
  <div class="flex flex-col flex-grow text-2xl">
    <p><%= name %></p>
    <p><%= currentPlayers %>/<%= maxPlayers %> Players</p>
  </div>
  <div class="flex justify-center">
    <%- include("../partials/Button.ejs", {buttonText: "Join", link: "/game"}) %>
  </div>
</div>
