<button
  type="<%= typeof type !== 'undefined' ? type : 'button' %>"
  class="bg-blue-500 hover:bg-blue-600 text-white text-lg rounded-md px-5 poker-button"
>
  <% if (typeof link !== 'undefined') { %>
    <a href="<%= link %>"> <%= buttonText %></a>
  <% } else { %>
    <%= buttonText %>
  <% } %>
</button>
