<div class="flex w-full rounded-lg shadow-xl bg-white p-4 mx-8">
  <div class="flex flex-col flex-grow text-2xl">
    <p><%= name %></p>
    <p><%= currentPlayers %>/<%= maxPlayers %> Players</p>
  </div>
  <div class="flex justify-center">
    <%- include("../partials/CustomButton.ejs", {buttonText: "Join"}) %>
  </div>
</div>
