<div class="poker-card">
  <% let isRed = suit === "hearts" || suit === "diamonds"; %>

  <div class="poker-card-container <%= hidden ? 'back' : '' %>">
      <div class="card-icon <%= isRed ? 'red' : 'black' %>">
        <% if (hidden) { %>

        <% } else if (suit === 'hearts') { %>
            ♥
        <% } else if (suit === "diamonds") { %>
            ♦
        <% } else if (suit === "clubs") { %>
            ♣
        <% } else if (suit === "spades") { %>
            ♠
        <% } %>
      </div>
      <div class="card-number">
        <% if (hidden) { %>

        <% } else if (number === 11) { %>
          J
        <% } else if (number === 12) { %>
          Q
        <% } else if (number === 13) { %>
          K
        <% } else if (number === 14) { %>
          A
        <% } else { %>
          <%= number %>
        <% } %>
      </div>
      <div class="card-number-reversed">
        <% if (hidden) { %>

        <% } else if (number === 11) { %>
          J
        <% } else if (number === 12) { %>
          Q
        <% } else if (number === 13) { %>
          K
        <% } else if (number === 14) { %>
          A
        <% } else { %>
          <%= number %>
        <% } %>
      </div>
  </div>
</div>
