<!-- INFO: Make sure to add mappings inside of callee function for the Jack to Ace number to value mappings -->
<html>
  <body class="poker-card">
      <% if(hidden){ %>
        <div class="back"></div>
      <% } else { %>
        <div class="poker-card-container">
            <div class="card-icon">
              <% if(suit === "heart" || suit === "diamond") { %>
                <div class="red">
                  <% if(suit === "heart") { %>
                      ♥
                  <% }else { %>
                      ♦
                  <% } %>
                </div>
              <% } else{ %>
                <div class="black">
                  <% if(suit === "club") { %>
                      ♣
                  <% }else { %>
                      ♠
                  <% } %>
                </div>
              <% } %>
            </div>
            <div class="card-number">
              <%= number %>
            </div>
            <div class="card-number-reversed">
              <%= number %>
            </div>
        </div>
      <% } %>
  </body>
</html>
