# VSCode configuration dir
.vscode/

# The behemoth
node_modules/

# Environment variables
.env
.direnv

# Postgres test DB dir
.postgres/

# Generated build files
dist/
build/
*.js.map
backend/static/css/
backend/static/js/
