<html lang="en">
<head>
    <title>Chatbox</title>
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/css/tailwind.css" />
</head>
<body class="bg-gray-100">
    <%- include ('chatbox') %>
</body>
</html>