<html>
  <head>
    <title>JVDA Hold'em</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
  </head>
  <body class="bg-gray-200">
    <div class="flex h-screen">
      <div
        class="flex flex-col items-center rounded-none border-r-2 border-black"
      >
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-2 focus:outline-none focus:shadow-outline"
        >
          Create Game
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-2 focus:outline-none focus:shadow-outline"
        >
          Settings
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-2 focus:outline-none focus:shadow-outline"
        >
          Logout
        </button>
      </div>
      <div class="flex-grow flex flex-col items-center">
        <h1
          class="text-4xl text-black center w-full font-bold border-black border-b-2"
        >
          Games
        </h1>
        <div class="flex rounded border-black border-2">
          <div clas="flex flex-row p-6">
            <p>Jake's Game</p>
            <p>4/8 Players</p>
          </div>
          <div>
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-2 focus:outline-none focus:shadow-outline"
            >
              Join
            </button>
          </div>
        </div>
      </div>
      <div>
        <!--Chat partial goes here-->
      </div>
    </div>
  </body>
</html>
