.poker-card {
  max-height: 9vh;
  max-width: 6.5vh;
  max-height: 9vh;
  max-width: 6.5vh;
  outline: 1px solid;
  border-radius: 4px;
  box-shadow: 1px 2px 10px black;
}

.poker-card-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  grid-template-rows: 0.8fr 0.8fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "card-number . ."
    ". card-icon ."
    ". . card-number-reversed";
  height: 100%;
  width: 95%;
  min-width: 3vw;
  max-width: 6vh;
  background: white;
  margin-right: 3%;
  padding-right: 1%;
}

.back {
  background-image: url(https://deck.of.cards/old/faces/back.png);
  height: 100%;
  width: 100%;
  min-width: 3.5vw;
  min-height: 8vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-icon {
  grid-area: card-icon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-number {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: card-number;
}

.card-number-reversed {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: card-number-reversed;
  transform: rotate(-180deg);
}

.black {
  color: black;
}

.red {
  color: red;
}
