.game-container {
  display: flex;
  justify-content: space-evenly;
}

.game-lobby {
  position: relative;
  display: flex;
  height: auto;
  flex-direction: column;
}

.poker-table-container {
  position: relative;
  display: flex;
  width: 65vw;
  height: auto;
}

svg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.actions-grid {
  position: absolute;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1.7fr 1fr 0.8fr 1fr;
  grid-template-rows: 0.9fr 0.7fr 1fr 0.7fr 1.6fr 0.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". . action-1 . action-2 . ."
    ". . . . . . ."
    "action-6 . . card-area . . action-3"
    ". . . . . . ."
    ". . action-5 . action-4 . ."
    ". . . . . . .";
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.card-container {
  display: flex;
  min-height: 8.5vh;
}

.action-1 {
  grid-area: action-1;
  display: flex;
  flex-direction: column;
}

.action-2 {
  grid-area: action-2;
}

.action-3 {
  grid-area: action-3;
}

.action-4 {
  grid-area: action-4;
}

.action-5 {
  grid-area: action-5;
}

.action-6 {
  grid-area: action-6;
  align-items: end;
}

.card-area {
  grid-area: card-area;
  display: flex;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10vw;
}

.game-name {
  display: flex;
  justify-content: center;
  outline: solid;
  outline-width: 1px;
}

.game-interactions {
  display: flex;
  margin-top: 0.5em;
  justify-content: space-between;
}

.left-interactions {
  display: flex;
  flex-direction: column;
}

.bet-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quit-button {
  margin-top: 3.5rem;
}

.home-button {
  margin-top: 3.5rem;
}

.center-interactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-interactions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.poker-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
}

input {
  width: 50%;
}

label + input {
  margin-left: 10%;
  padding-left: 8%;
}

.chat-box {
  display: flex;
}

.chat {
  width: 100%;
  height: 95%;
}

.hidden {
  display: none;
}
